/* Index */

#body-index {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/cambio.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#buscador-index {
    transform: translateY(605%);
}

#logo {
    color: white;
    font-size: 200%;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* Buscar */

#body-buscar {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/6.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#table {
    background-color: beige;
}

#titleb {
    background-color: #E0F8F1;
    border: outset;
    text-align: center;
}


/* Conocenos*/

#body-conocenos {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#mision {
    background-color: rgba(255, 255, 255, 0.8);
    border: outset;
}

#vision {
    background-color: rgba(255, 255, 255, 0.8);
    border: outset;
}


/* Carosuel */

.carousel-inner>.item>img,
.carousel-inner>.item>img {
    width: 40%;
    height: 20%;
    margin: auto;
}

#inicio {
    color: #CEECF5;
    text-align: center;
}

#im {
    width: 30%;
    height: 20%;
}


/* Calificacion Vendedor */

.clasificacion {
    text-align: center;
}

#form {
    text-align: center;
}

#contenedor {
    background-color: #E0F8F1;
    background-color: rgba(255, 255, 255, 0.4);
}

.adCentrado {
    text-align: center;
}

.adIzq {
    text-align: left;
}


/* Registro Producto */

#body-registar {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/00.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


/* Mensajes */

#body-mensajes {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/000.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#h3Producto {
    font-family: sans-serif;
    border: olive;
    border: outset;
}

#Register {
    width: 30%;
    border: outset;
    background-color: #E0F8F1;
    text-align: center;
}

#contenedorProductos {
    border: outset;
    background-color: #E0F8F1;
    width: 50%;
    text-align: center;
}

#contenedorBuscas {
    border: outset;
    background-color: #E0F8F1;
    width: 50%;
    text-align: center;
}

.details li {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

#profile {
    border-bottom: 1px solid black
}

#details {
    width: 5%;
}


/* Footer */

footer {
    background-color: #2E2E2E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.bloque {
    text-align: center;
}

#fondoBloque {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}


/* Buscar */

#fondoBloqueBusqueda {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

#username {
    text-align: center;
    font-size: 300%;
    color: rgba(0, 0, 0, 1);
}

.h3Table {
    text-align: center;
}

#fondoRegister {
    margin-left: 15%;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.4);
}

#phone,
#email,
#address {
    font-size: 150%;
    color: rgba(0, 0, 0, 1);
}


/* Registro Productor */

#body-register {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/0000.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


/*Login*/

.leyenda {
    color: rgba(0, 0, 0, 0.6);
    font-size: 300%;
}

#contenedorLogin {
    margin-left: 15%;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.4);
}

#body-login {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/0001.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


/* buscar-Producto */

#body-buscar-producto {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/12.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


/* buscar-Producto */

#body-contacto {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/22.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


/*Perfil*/

.jumbotron {
    background-color: rgba(255, 255, 255, 0.8);
}

#bodyPerfil {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/fondo.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#botonCalificar,
#botonProducto {
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
}


/*******************************************************************/

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}


/*********************************/

.counted {
    margin-bottom: 2%;
}


/***Editar***/

#body-editar {
    background-size: cover;
    background-color: #95a5a6;
    background-image: url("Imagenes/01.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

/*PROFILE*/


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f0f3f5;
    
}
/*==============================*/
/*====== siderbar user profile =====*/
/*==============================*/
.nav>li>a.userdd {
    padding: 5px 15px
}
.userprofile {
    width: 100%;
	float: left;
	clear: both;
	margin: 40px auto
}
.userprofile .userpic {
	height: 100px;
	width: 100px;
	clear: both;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative; 
}
.userprofile .userpic .userpicimg {
	height: auto;
	width: 100%;
	border-radius: 100%;
}
.username {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.username+p {
	color: #607d8b;
	font-size: 13px;
	line-height: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.settingbtn {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	line-height: 30px;

	text-align: center;
	padding: 0;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.userprofile.small {
	width: auto;
	clear: both;
	margin: 0px auto;
}
.userprofile.small .userpic {
	height: 40px;
	width: 40px;
	margin: 0 10px 0 0;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	float: left;
}
.userprofile.small .textcontainer {
	float: left;
	max-width: 100px;
	padding: 0
}
.userprofile.small .userpic .userpicimg {
	min-height: 100%;
	width: 100%;
	border-radius: 100%;
}
.userprofile.small .username {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	margin: 0px;
	float: left;
	width: 100%;
}
.userprofile.small .username+p {
	color: #607d8b;
	font-size: 13px;
	float: left;
	width: 100%;
	margin: 0;
}
/*==============================*/
/*====== Social Profile css =====*/
/*==============================*/
.countlist h3 {
	margin: 0;
	font-weight: 400;
	line-height: 28px;
}
.countlist {
	text-transform: uppercase
}
.countlist li {
	padding: 15px 30px 15px 0;
	font-size: 14px;
	text-align: left;
}
.countlist li small {
	font-size: 12px;
	margin: 0
}
.followbtn {
	float: right;
	margin: 22px;
}
.userprofile.social {
	background: url(http://www.bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg) no-repeat top center;
	background-size: 100%;
	padding: 50px 0;
	margin: 0
}
.userprofile.social .username {
	color: #ffffff
}
.userprofile.social .username+p {
	color: #ffffff;
	opacity: 0.8
}
.postbtn {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 9
}
.status-upload {
	width: 100%;
	float: left;
	margin-bottom: 15px
}
.posttimeline .panel {
	margin-bottom: 15px
}
.commentsblock {
	background: #f8f9fb;
}
.nopaddingbtm {
	margin-bottom: 0
}
/*==============================*/
/*====== Recently connected  heading =====*/
/*==============================*/
.memberblock {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px
}
.member {
	width: 24%;
	float: left;
	margin: 2px 1% 2px 0;
	background: #ffffff;
	border: 1px solid #d8d0c3;
	padding: 3px;
	position: relative;
	overflow: hidden
}
.memmbername {
	position: absolute;
	bottom: -30px;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	line-height: 30px;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	font-size: 11px;
	transition: 0.5s ease all;
}
.member:hover .memmbername {
	bottom: 0
}
.member img {
	width: 100%;
	transition: 0.5s ease all;
}
.member:hover img {
	opacity: 0.8;
	transform: scale(1.2)
}

.panel-default>.panel-heading {
    color: #607D8B;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    border-color: #e1eaef;
}



.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.page-header.small {
    position: relative;
    line-height: 22px;
    font-weight: 400;
    font-size: 20px;
}

.favorite i {
    color: #eb3147;
}

.btn i {
    font-size: 17px;
}

.panel {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    margin-bottom: 35px;
    border-radius: 0px;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #eef2f4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #607d8b;
}

.panel-blue {
    color: #ffffff;
    background-color: #03A9F4;
}

.panel-red.userlist .username, .panel-green.userlist .username, .panel-yellow.userlist .username, .panel-blue.userlist .username {
    color: #ffffff;
}

.panel-red.userlist p, .panel-green.userlist p, .panel-yellow.userlist p, .panel-blue.userlist p {
    color: rgba(255, 255, 255, 0.8);
}

.panel-red.userlist p a, .panel-green.userlist p a, .panel-yellow.userlist p a, .panel-blue.userlist p a {
    color: rgba(255, 255, 255, 0.8);
}

.progress-bar-success, .status.active, .panel-green, .panel-green > .panel-heading, .btn-success, .fc-event, .badge.green, .event_green {
    color: white;
    background-color: #8BC34A;
}

.progress-bar-warning, .panel-yellow, .status.pending, .panel-yellow > .panel-heading, .btn-warning, .fc-unthemed .fc-today, .badge.yellow, .event_yellow {
    color: white;
    background-color: #FFC107;
}

.progress-bar-danger, .panel-red, .status.inactive, .panel-red > .panel-heading, .btn-danger, .badge.red, .event_red {
    color: white;
    background-color: #F44336;
}

.media-object {
    max-width: 50px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.media:first-child {
    margin-top: 15px;
}

.media-object {
    display: block;
}

.dotbtn {
    height: 40px;
    width: 40px;
    background: none;
    border: 0;
    line-height: 40px;
    vertical-align: middle;
    padding: 0;
    margin-right: -15px;
}

.dots {
    height: 4px;
    width: 4px;
    position: relative;
    display: block;
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    margin: 0 auto;
}

.dots:after, .dots:before {
    content: " ";
    height: 4px;
    width: 4px;
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    top: -7px;
    left: 0;
}

.dots:after {
    content: " ";
    top: auto;
    bottom: -7px;
    left: 0;
}

.photolist img {
    width: 100%;
}

.photolist {
    background: #e1eaef;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profilegallery .grid-item a {
    height: 100%;
    display: block;
}

.grid a {
    width: 100%;
    display: block;
    float: left;
}

.media-body {
    color: #607D8B;
    overflow: visible;
}